.image-gallery {
width: 1280px;
    margin: auto;
      }
.data-fullview{
    width: 1280px;
}
.fullImage{
    border: 3px solid grey;
    width:  100%;
    height: 800px;
}
.preview{
    list-style: none;
    display: flex;
    margin: auto;
    padding-left: 0;
}
.active{
    border: 3px solid darkred;
    width: 200px;
    height: 130px;
    margin: auto;
}

.li{
    flex-direction: row;
}
.linkImage{
    width: 200px;
    height: 130px;
    margin-right: 16px;
}