.film{
position: relative;
    align-self: flex-start;
}
.imgFilm{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

@media (min-width: 768px) {
.film{
   flex-basis: 50%;
}
}

@media (min-width: 1280px) {
  .film{
flex-basis: 23%;
      height: auto;
    }
}
.cardrecfilm{
    width: 20%;
}