.menuTitleLink{
    text-decoration: none;
    color: white;
}
.menuTitle {
    font-size: 18px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 700;
    color: white;
   /* background-color: #40373a;*/
    background-color: #0c1726;
    text-transform: uppercase;
    padding: 29px 0 29px 35px;
    margin: 0;

}

.listMenu {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    /*background-color: #4c4145;*/
    background-color: #437997;
    margin: 0;
    /*color: white;*/
     color: black;
    box-shadow: 3px -3px 20px 1px rgba(255,255,255,1);

/*    color: #b4b1b2;*/
}

.menuLink {
    text-decoration: none;
    color: black;
}

.menuItem {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;
}

i {
    padding-right: 10px;
}

.quantity {
    margin-left: auto;
    background-color: white;
    width: 30px;
    text-align: center;
    border-radius: 10%;
}

li:last-child {
    margin-bottom: 0;
}

li:hover > i {
    color: white;
}

li:hover > a {
    color: white;
}

li:hover > span {
    background-color: #A0B8E2;
    color: white;
}

.fa-times-circle {
    position: absolute;
    top: 5%;
    right: 11%;
    display: block;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media (min-width: 768px) {
    .hide{
        position: static;
        display: inline-block;
        width: 23%;
    }
    .show{
        width: 23%;
    }
    .fa-times-circle {
        display: none;
    }
    .listMenu{
        padding: 17px;
    }
    .listMenu{
        height: auto;
        padding-left: 27px;
    }
}
.active{
    text-decoration: none;
}