.search_link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search_img{
    width: 25%;
}

.search_info{
    width: 70%;
}
.search_title{
    margin: 0 auto;
    color: #ccb997;
}
.search_text{
    margin: 0 auto;
    font-size: 8px;
    color: #b8c2ca;
}
@media (min-width: 768px) {
    .search_text{
        font-size: 11px;
    }
}
@media (min-width: 1280px) {
    .search_text{
        font-size: 14px;
        margin:  auto;
    }
    .search_title{
        font-size: 18px;
        margin-bottom: 10px;
    }
}