.grid{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    height: 100%;
}

@media (min-width: 768px) {
    .grid{
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: calc(100vh - 75px);
    }
}