.wrapper-main{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.title-card{
    padding-top: 70px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.card-people{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo{
    border-radius: 50%;
}

.photo-profile{
    position: relative;
}

.icon{
    width: 40px;
    height: 40px;
    background-color: #ff4e50;
    border: #ffffff 2px solid;
    border-radius: 50%;
    position: absolute;
    top: 85px;
    left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.flask{
    background-color: #ffa507;
}

.coffee{
    background-color: #1cd7ad;
}

.plane{
    background-color: #4e73db;
}

.name{
    padding-top: 25px;
    margin-bottom: 20px;
}

.resume{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

.btn{
    padding: 0.81rem 1.56rem;
    border: #ff4e50 solid 2px;
    border-radius: 50px;
    color: #ff4e50;
    font-size: 14px;
    text-align: center;
    margin: auto;
}
.btn-main{
    display: flex;
}
@media(min-width: 768px) {
    .cards-people {
        margin-bottom: 35px;
    }

    .btn-main {
        margin-bottom: 40px;
    }

    .title-card {
        margin-bottom: 35px;
    }
    .main-cards{
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 945px) {
    .cards-people {
        max-width: 945px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


