.wrapper{
    background-size: cover;
    text-transform: uppercase;
    box-sizing:border-box;
    width: 1200px;
    margin: auto;
}

.header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}

.nav-list{
    display: flex;
    margin-bottom: 110px;
}

.nav-link{
    color: #95e1d3;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-right: 55px;
    display: inline-block;
}

.nav-link:hover {
    color: #f38181;
    border-bottom: 3px solid #f38181;
}
