* {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font: normal 16px 'Roboto', sans-serif;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../grimace-388987_19201.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 95vh;
}

section p.numbers {
    font-size: 6em;
}

section p.strings {
    font-size: 2.2rem;
}

#countdown {
    display: flex;
    justify-content: space-evenly;
    color: #353535;
    margin-bottom: 66px;
    max-width: 850px;
}

#countdown p {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.numbers {
    background-color: rgba(228, 223, 225, 0.84);
    padding-top: 60px;
}

.strings {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #c10202;
    color: #FFFFFF;
}

.cd-box {
    width: 210px;
    height: 266px;
    margin: 30px 15px 0 0;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 6px 12px 14px 4px rgb(12, 7, 4);
}

.title {
    display: block;
    color: #cac8c2;
    text-align: center;
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 2px black;
    margin: 50px 50px 25px;
}

.avis {
    color: #c10202;
    font-size: 90px;
}

.container_scales {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
}

.cloud {
    width: 379px;
    height: 242px;
    margin-right: initial;
    flex-grow: 5;
}
.box {
    position: absolute;
    top: 570px;
    right: 100px;
}

.start {
    padding: 10px 69px;
    border-radius: 14px;
    background-color: #c10202;
    font-size: 75px;
    font-weight: 800;
    color: #f6f6f4;
    -webkit-box-shadow: 5px 6px 16px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 5px 6px 16px 1px rgba(255, 255, 255, 1);
    box-shadow: 3px 6px 18px 1px rgb(171, 150, 150);
}


