.mainSearch {
    padding: 30px 5px;
    background-color: #204255;
    width: auto;
}
.label-form{
   position: relative;
    display: block;
}
.iconShowMenu, .iconShowChat{
    color: white;
    font-size: 20px;
}

.input-search {
    width: 75%;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.fa-search{
    position: absolute;
    right: 21%;
    top: 5px
}

@media (min-width: 768px) {
    .fa-search{
        right: 23%;
        top: 3px;
}
    .iconShowMenu{
        display: none;
    }
    .iconShowChat{
        display: none;
    }}

@media (min-width: 1280px) {
    .fa-search {
        right: 24%;
    }
}