.imgUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.name{
    font-size: 15px;
    font-weight: 700;
    color: #dadae8;

}
.message{
    width: 90%;
    background-color: #78abc7;
    border-radius: 5%;
    margin: 5px 0 0;
    padding: 10px;
    text-align: center;
    font-family: 'Fahkwang', sans-serif;
    font-size: 11px;
    color: #f5f4f3;
}
.link{
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color:#f3e8ce;
}
.userMessage{
    margin-bottom: 25px;
    text-align: center;
}