@media (min-width: 768px) {
.container{
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.10)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtc-_B5EsPKHSC8oRn2ATxbbBSxdgl0qtjv6yVjc4sH7SI9ZAN);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
}

